[Unit]
Description=Disable lid button
 
[Service]
ExecStart={{INSTALL_DIR}}/disable_lid_button/disable_lid_button.sh
 
[Install]
WantedBy=multi-user.target